<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>图书管理</title>
    <link rel="stylesheet" href="/css/layui.css">
    <link rel="stylesheet" href="/css/modules/layer/default/layer.css">

    <style>
        .layui-table-cell{
            height: 40px;
            line-height: 40px;
        }
        .layui-table, .layui-table-view {
            margin-left: 50px;
            margin-right: 50px;
        }
        .layui-table-view select[lay-ignore] {
            display: none;
        }

    </style>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">图书管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/admin/list">图书列表</a></li>
            <li class="layui-nav-item"><a href="/admin/userborrow">借阅管理</a></li>

            <li class="layui-nav-item">
                <a href="javascript:;">信息管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/root/adminmsglist">管理员信息管理</a></dd>
                    <dd><a href="/root/adminusermsglist">用户信息管理</a></dd>
                </dl>
            </li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/exit">退出</a></li>
        </ul>
    </div>

    <!-- 主显示区 -->

    <div class="demoTable" style="margin-top: 20px; margin-left: 200px">
        搜索用户：
        <div class="layui-inline">
            <input class="layui-input" name="username" id="userselect" autocomplete="off">
        </div>
        <button class="layui-btn layui-btn-normal" data-type="reload">搜索</button>
    </div>

    <table class="layui-table" lay-data="{url:'/admin/borrowlist', page:true, id:'booklist'}" lay-filter="demo">
        <thead>
        <tr>
            <th lay-data="{field:'id' }">ID</th>
            <th lay-data="{field:'bookid' }">bookid</th>
            <th lay-data="{field:'bookname' }">书名</th>
            <th lay-data="{field:'username' }">用户名</th>
            <th lay-data="{field:'loan' }">借出时间</th>
            <th lay-data="{field:'back' }">归还时间</th>
            <th lay-data="{field:'isrenew'}">是否可以续借</th>

            <th lay-data="{fixed: 'right',width:200, align:'center', toolbar: '#barDemo'}">操作</th>

        </tr>
        </thead>
    </table>

    <script type="text/html" id="barDemo">
        <a id="bottom" class="layui-btn layui-btn-radius layui-btn-primary" lay-event="detail">归还</a>
    </script>

    <div class="layui-footer" style="left: 0;text-align: center">
        <!-- 底部固定区域 -->
        © com.yang.homeworkLibrary
    </div>
</div>
<script src="/js/layui.js"></script>
<script src="/js/login/jquery-3.2.1.min.js"></script>

<script>
    layui.use(['table', 'layer', 'element'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var element = layui.element;

        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                $.ajax({
                    url: '/admin/back',
                    data: {'id':data.id, 'bookid':data.bookid},
                    type: 'post',
                    dataType: 'text',
                    async: false,
                    success:function (res) {
                        //处理返回数据
                        var jsondata = $.parseJSON(res);
                        var js_statuscode = jsondata.statuscode;
                        var js_status = jsondata.status;
                        switch (js_statuscode){
                            case '900001':
                                layer.open({
                                    title: '提示'
                                    ,content: js_status
                                    ,btnAlign:'c'
                                });
                                break;
                            case '900000':
                                layer.open({
                                    title: '提示'
                                    ,content: js_status
                                    ,btnAlign:'c'
                                    ,yes:function () {
                                        window.location.reload();
                                    }
                                });
                                break;
                        }
                    }
                });
            }
        });

        /**
         * 执行重载
         */
        var $ = layui.$, active = {

            reload: function () {
                var userSelect = $('#userselect');

                table.reload('booklist',{
                    url:'/admin/searchuserborrow',
                    where:{
                        username: userSelect.val()
                    }
                });
            }

        };

        element.on('tab(bar)', function (data) {
            console.log(data);
        });
        /**
         * 监听点击事件
         */
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>


</body>
</html>